
*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: Bold;
}


body {
    padding: 0;
    margin: 0;
    background-color: #0e0e0e;
}


.grid {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #fff;
    outline: none;
    background-color: rgba(255,255,255, .75);

}


.grid > button:hover {
    background-color: rgba(255,255,255, .9);
}


.space-two {
    grid-column: span 2;
}


.result {
    grid-column: 1 / -1;
    background-color: rgba(44, 44, 44, 0.75);
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}


.result .previous {
    color: rgba(255,255,255, .75);
    font-size: 1.5rem;

}


.result .current {
    color: white;
    font-size: 2.5rem;
}


















